* {
	box-sizing:border-box;
}

h1, h2, p {
    margin: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
}

button {
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'source_sans_prosemibold';   
    min-height: 100vh;
    background-color: $gray9;
}

.animate {
    opacity: 1;
}

.animate.ng-hide {
    opacity: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1060px;
}

.btn {
    display: none;
    height: 23px;
    line-height: 21px;
    border-radius: 3px;
    font-family: 'source_sans_prosemibold'; 
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;

    &:focus {
       outline: none;
    }

    &--sale {
       padding: 0 7px 0 4px;
       background-color: $green1;
       color: $white;
       border: 1px solid $green1; 
    }

    @mixin btn() {
        padding: 0 10px;
        margin-left: 5px;
        border: 1px solid $gray1;
        color: $gray7;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.23);
    }

    &--incart {
        @include btn();
    }

    &--price {
        @include btn();
       transition: 0.5s;
       -webkit-transition: 0.5s;
       cursor: pointer;

       &:hover {
           background-color: $green1;
           border: 1px solid $green1;
           color: $white;
       }
   }

   &--owned {
        padding: 0 10px;
        border: 1px solid $gray3;
        color: $gray6; 
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.23);
    }

    &--show {
        display: block;
    }
}

.btn-big {
    height: 42px;
    line-height: 42px;
    color: $white;
    cursor: pointer;
}

.btn-big--secret {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 390px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 117, 77, 0.8);
    background-color: #000000;
    background-image: linear-gradient(to top, $green2 0%, $green3 100%);
    font-size: 14px;
    text-transform: uppercase;
    //border: 1px solid #238060;
    border-top: 1px solid $green4;
    border-bottom: 1px solid $green5;
    border-left: 1px solid $green6;
    border-right: 1px solid $green6;
    border-radius: 3px;
}

.btn-big--clear {
    width: 130px;
    font-family: 'source_sans_proregular';
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(108, 54, 173, 0.8);
    background-image: linear-gradient(to top, $violet1 0%, $violet2 100%);   
}