$white: #fff;
$black: #000;
$black2: #212121;
$black3: #262626;
$black4: #1a1a1a;
$green1: #00905e;
$green2: #00905e;
$green3: #00c78c;
$green4: #258363;
$green5: #1f7c5d;
$green6: #238060;
$violet1: #7a3dc6;
$violet2: #b65ae2;
$lightGray: #dedede;
$gray1: #a9a9a9;
$gray2: #404040;
$gray3: #c5c5c5;
$gray4: #f7f7f7;
$gray5: #d8d8d8;
$gray6: #ababab;
$gray7: #707070;
$gray8: #bab6c0;
$gray9: #c2c2c2;
